In [6]:
import pandas as pd
from sqlalchemy import create_engine
import glob

In [15]:
paths = glob.glob('./*.csv')
for y in paths:
    dims = y

print(str(dims))

.\Worlds_Best_50_Hotels.csv

In [2]:
a = pd.read_csv(f'{dims}',encoding='latin-1',iterator=True,chunksize=10)
next(a).iloc[:,1:]

,Name,Location,Overview,Total Rooms,Starting Rate in ($),Dining Area,Drinking Area,Hotel Ammenties,Address,Number
0,Capella Bangkok,Bangkok,A calming riverside oasis in the centre of cac...,101,600,Côte by Mauro Colagreco and Phra Nakhon,Stella,"Swimming pool(s), spa/wellness centre, fitnes...","300, 2 Charoen Krung Rd, Yan Nawa, Sathon, Ban...",+66 2 098 3888
1,Passalacqua,Lake Como,A sumptuous Lake Como retreat made for enjoyin...,24,1300,The Garden Terrace,Bar Terrace,"Spa/wellness centre, fitness centre, family f...","Via Besana, 59, 22010 Moltrasio CO, Italy",+39 031 44311
2,Rosewood Hong Kong,Hong Kong,Masterful minimalism meets marble-lined luxury,413,650,Bluhouse and The Dining Room,Darkside,"Swimming pool, spa/wellness centre, fitness c...","18 Salisbury Rd, Tsim Sha Tsui, Hong Kong",+852 3891 8888
3,Cheval Blanc,Paris,Uber-stylish riverside luxury and world-class ...,72,3000,Langosteria,Le Tout-Paris,"Swimming pool(s), spa/wellness centre, fitnes...","8 Quai du Louvre, 75001 Paris, France",+33 1 40 28 00 00
4,The Upper House,Hong Kong,A temple of Zen high above Hong Kong,117,650,Salisterra,NaN,"Swimming pool, fitness centre, family friendly","88 Queensway, Admiralty, Hong Kong",NaN
5,Raffles Singapore,Singapore,History marries hospitality at this original c...,115,2000,Butcher's Block,Long Bar,"Swimming pool(s), spa/wellness centre, fitnes...","1 Beach Rd, Singapore 189673",+65 6337 1886
6,Aman Tokyo,Tokyo,"Light-filled, spacious escape in bustling Tokyo",84,1800,Arva Restaurant,The Lounge by Aman,"Swimming pool(s), spa/wellness centre, fitnes...","The Otemachi Tower, 1 Chome-5-6 ?temachi, Chiy...",+81 3-5224-3333
7,Soneva Fushi,Maldives,Sublime island luxury with a focus on sustaina...,72,2800,"Once Upon a Table and So Hands On by Akira, a...",By the Bar,"Beach, swimming pool(s), spa/wellness centre,...","Kunfunadhoo Island, Eydhafushi, Maldives",+960 660-0304
8,Atlantis The Royal,Dubai,The epitome of over-the-top extravagance,795,460,Dinner by Heston Blumenthal and Jaleo by José...,Cloud 22,"Over 90 swimming pools, Skyblaze fountain, wa...","The Palm Jumeirah, Crescent Rd, Dubai, United ...",+971 4 426 3000
9,Nihi Sumba,Sumba Island,"Refined, rustic luxury in remote Indonesia",27,1300,Ombak,Nio Beach Club & Pool,"Beach, chocolate factory, equestrian stables,...","Hoba Wawi, Wanokaka, West Sumba Regency, East ...",+62 361 757149

In [4]:
engine = create_engine(f'postgresql://dimas:ahayde@localhost:5432/cobaaja')
engine.connect()